.home {
  padding: 0 10px 100px;
}
.hero {
  max-width: 600px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.hero .text-box h1 {
  margin-bottom: 20px;
  font-size: max(3vw, 36px);
  line-height: 1.5;
  color: #e3e3e3;
}
.hero form {
  padding: 8px;
  padding-right: 10px;
  width: 90%;
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.hero form input {
  flex: 1;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-family: "Outfit";
}
.form-btn {
  border: none;
  outline: none;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #7927ff;
  color: white;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
.crypto-table {
  max-width: 800px;
  margin: auto;
  background: linear-gradient(rgba(84, 3, 255, 0.15), rgba(105, 2, 153, 0.15));
  border-radius: 15px;
}
.table-layout {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
  padding: 15px 20px;
  align-items: center;
  border-bottom: 1px solid #3c3c3c;
}
